<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
      </category>       
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ServiceTask"            
            name="%command.task">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ServiceListTask"            
            name="%command.task.servicelist">
      </command>
   </extension>
   
   <extension
       point="org.eclipse.ui.handlers">


      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.service.handlers.ServiceTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ServiceTask">  
      </handler>
      
      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.service.handlers.ServiceListTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ServiceListTask">  
      </handler>
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
           commandId="tr.org.liderahenk.liderconsole.commands.ServiceTask"
           icon="icons/16/service.png"
           id="tr.org.liderahenk.liderconsole.commands.ServiceTask"
           tooltip="%command.task">
                  	<visibleWhen>
                  	<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapUserSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapGroupSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
		
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
           commandId="tr.org.liderahenk.liderconsole.commands.ServiceListTask"
           icon="icons/16/services.png"
           id="tr.org.liderahenk.liderconsole.commands.ServiceListTask"
           tooltip="%command.task.servicelist">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
  </extension>
  	
</plugin>
